* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: rgb(255, 255, 255);
  --header-border: rgb(239, 239, 239);
  --tile-border: rgb(224, 224, 231);
  --tile-bg: rgb(251, 252, 255);
  --tile-border-selected: rgb(171, 174, 183);

  --text-color: rgb(56, 60, 72);
  --text-color-final: rgb(249, 255, 255);

  --incorrect: rgb(164, 175, 197);
  --close: rgb(243, 194, 55);
  --correct: rgb(121, 184, 80);

  --keyboard-tile: rgb(221, 225, 237);
  --keyboard-text: rgb(67, 77, 122);

  --message-background: rgb(26, 26, 24);
  --restart-button: rgb(105, 171, 99);
}

.app {
  min-height: 100vh;
  width: 100%;
  background-color: var(--background);
  opacity: 0;

  transition: opacity 0.6s ease-in-out;
}

.app.loaded {
  opacity: 1;
}

.top-banner {
  border-bottom: 1px solid var(--header-border);
  background-color: var(--background);
  display: flex;
  position: relative;
  justify-content: center;
  padding: 0.5%;
  z-index: 101;
}

.board {
  display: flex;
  flex-direction: column;
  
  margin-top: 2rem;

  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.title {
  font-family: "NYTKarnakCondensed";
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color);
}

.tile-wrapper {
  display: flex;
  gap: 1rem;
}

.tile {
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--tile-border);
  background-color: var(--tile-bg);

  font-size: 2.5rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile.selected {
  border: 1px solid var(--tile-border-selected);
}

.tile.correct {
  color: var(--text-color-final);
  background-color: var(--correct);
}

.tile.close {
  color: var(--text-color-final);
  background-color: var(--close);
}

.tile.incorrect {
  color: var(--text-color-final);
  background-color: var(--incorrect);
}

/* Message */
.message-wrapper {
  display: flex;
  min-height: 1rem;
  margin-top: 2rem;
  justify-content: center;
  visibility: none;
}

.message-wrapper.show {
  visibility: none;
}

.message {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: var(--message-background);
  text-align: center;
}

.message-text {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

/* Notifications */
.notification-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255, 0.5);
  z-index: 100;
  display: flex;
}

.notification-wrapper.show {
  display: flex;
}

.notification {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 20%;
  height: 25%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stats {
  text-align: center;
  margin-top: 2.5rem;
}

.stats h3 {
  font-size: 1.5rem;
}

.stats-card-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  margin-top: 0.5rem;
}

.stats-card {
  width: 3rem;
  text-align: center;
}

.stats-card h5 {
  font-size: 2rem;
}

.stats-card p {
  font-size: 1rem;
}

.restart-button {
  justify-content: center;

  background-color: var(--restart-button);
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 10px;

  color: white;
  font-size: 1rem;
  font-weight: 700;

  border: none;
}